* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 1600px;
    height: 740px;
    background-color: bisque;
    border: 2px solid black;
    /* box-shadow: 1px 1px px 100px black; */
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    border-radius: 10px;
}

   
.container > div:nth-child(1) { 
    border-right: 2px solid black; 
    /* margin-rig: ; */
} 

.firstDiv, .secondDiv {
    /* border: 1px solid black; */
    width: 48%;
    height: 93%;
    text-align: center;
}

.firstDiv, .secondDiv {
    padding-top: 10%;
}

h3 {
    font-size: x-large;
}

.firstDiv input {
    width: 40%;
    height: 7%;
    margin: -2% 0;
    font-size: large;
    padding-left: 10px;

    border-radius: 5px;
    border: 1px solid black;
}

.firstDiv button {
    width: 40%;
    height: 7%;
    margin: 4%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: large;
    transition: .3s;
}

.firstDiv button:hover {
    height: 10%;
}


.secondDiv h3 {
    margin-top: 10%;
    margin-left: 5%;
}


.insideDiv {
    width: 100%;
    height: 8%;
    margin: 2%;
    border-radius: 5px;
    background-color: rgb(253, 226, 186);
    border: 1px solid slategrey;
}


.secondDiv {
    display: flex;
    position: relative;
    gap: 1.5%;
}

.miniInfor {
    margin-top: -20%;
    background-color: wheat;
    border: 1px solid rgba(150, 141, 124, 0.564);
    height: 10%;
    width:  25%;
    border-radius: 10px;
    transition: .3s;
    text-align: center;
    line-height: 52px;
    font-weight: 500;
    font-size: x-large;
}

.dataName {
    display: none;
}

.dataName:hover {
    display: block;
}

.miniInfor:hover {
    font-weight: 600;
    width:  50%;
}

.inforBoard {
    position: absolute;
    width: 37.5%;
    height: 60%;
    top: 22%;
    right: 12%;
    background-color: wheat;
    border-radius: 5%;
    border: 1px solid rgba(150, 141, 124, 0.564);
    /* opacity: 0; */
    padding-top: 6%;
    opacity: 0;
}

.inforBoard h1 {
    font-size: 40px;
    font-weight: 530;
    margin-left: 2%;
}

.inforBoard button {
    position: absolute;
    width: 30%;
    height: 15%;
    font-size: x-large;
    right: 5%;
    bottom: 5%;
    border-radius: 10%;
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: bold;
    transition: .3s;
}

.turnOff {
    position: absolute;
    right: 20%;
}

.inforBoard button:hover {
    background-color: rgb(145, 0, 0);
    font-size: 30px;
}

.miniInfor.active {
    background-color: #f0f0f0; /* Màu nền khác để làm nổi bật */
    font-weight: bold; /* Có thể thay đổi font-weight, màu chữ, ... tùy ý */
}
