* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.board {
    box-shadow: 1px 1px 5px 1px gray;
    border-left: 10px solid red;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.board input {
    width: 95%;
    margin-bottom: 10px;
}

.board input:focus {
    background-color:wheat;
}

.container h1 {
    color: red;
    text-align: center;
}